.home-navbar {
    width: 100%;
    height: 773px;
    display: flex;
    background: url('/public/img/banner.webp');
    background-size: cover;

}

.home-navbar .navbar-container {
    margin-top: 55px;
    height: 642px;
}

.home-navbar .navbar-container .menu {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-navbar .navbar-container .menu .brand-logo {
    height: 30px;
    width: 125px;
}
.home-navbar .navbar-container .menu .links {
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.home-navbar .navbar-container .menu .links .login-button {
    background: #3776CC;
    color:#f8f8ff;
    }
.home-navbar .navbar-container .menu .user-avatar {
       width: 50px;
       height: 50px;
       border-radius: 24px;
}

.home-navbar a {
    text-decoration: none;

}

.home-navbar .hover-line a {
    color: #f8f8ff;
    z-index: 100;
}

.home-navbar .underline {
    display: block;
    content: "";
    border-bottom: solid 2px #d7b686;
}

.home-navbar .hover-line:after {
    display: block;
    content: "";
    border-bottom: solid 2px #d7b686;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;


}

.home-navbar .hover-line:hover:after {
    transform: scaleX(1);
}

.home-navbar div.hover-line::after {
    transform-origin: 0% 50%;
}